.config-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  font-size: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  transition-property: transform, opacity;
  transition-duration: .2s;
}

.gui-autohide.gui-autohide--timeout .gui,
.gui-autohide.in-game-menu-focus .gui,
.gui-hidden .gui {
  opacity: 0;
}

@media (max-height: 400px ) {
  .config-panel {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}

@media (min-height: 401px) {
  body {
    background-color: var(--color-theme);
  }

  body::before {
    opacity: 1;
    transition-delay: 0s;
  }

  .gui-autohide.gui-autohide--timeout .gui,
  .gui-autohide.in-game-menu-focus .gui,
  .gui-hidden .gui {
    opacity: .6;
  }
}

@media (orientation: portrait) and (min-height: 401px) {
  body {
    padding-bottom: 150px;
  }
}

.config-panel > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 38px;
  margin-bottom: 20px;
}

.config-panel > * + * {
  margin-left: 10px;
}

.config-panel > label > input {
  margin-bottom: 8px;
}
